#canvas {
    margin: 0 auto;
    border: 1px solid black;
}

div.left {
    float: left;
}

div.right {
    float: right;
}

#wrapper {
    width: 1200px;
}

#step {
    width: 105px;
}

input, button {
    margin-top: 5px;
}